GreenPantryFrontend/Connected Services/ServiceReference2/GP_Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GP_Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53900/GP_Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53900/GP_Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53900/GP_Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGP_Service_login_InputMessage">
    <wsdl:part name="parameters" element="tns:login" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_login_OutputMessage">
    <wsdl:part name="parameters" element="tns:loginResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_UpdateUserDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserDetails" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_UpdateUserDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_UpdatePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePassword" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_UpdatePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_addNewProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:addNewProduct" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_addNewProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:addNewProductResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_updateProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:updateProduct" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_updateProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateProductResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_getAllProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllProducts" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_getAllProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllProductsResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_removeProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:removeProduct" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_removeProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:removeProductResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_getAllCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllCategories" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_getAllCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_getAllSubCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllSubCategories" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_getAllSubCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllSubCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_getOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:getOrder" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_getOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:getOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_addOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:addOrder" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_addOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:addOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_UpdateOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOrder" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_UpdateOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_getAllOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllOrders" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_getAllOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_getAllCustomerOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllCustomerOrders" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_getAllCustomerOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllCustomerOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_getUsersPerDay_InputMessage">
    <wsdl:part name="parameters" element="tns:getUsersPerDay" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_getUsersPerDay_OutputMessage">
    <wsdl:part name="parameters" element="tns:getUsersPerDayResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_getProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:getProduct" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_getProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:getProductResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_UpdateStock_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStock" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_UpdateStock_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStockResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_AddItemsToShoppingList_InputMessage">
    <wsdl:part name="parameters" element="tns:AddItemsToShoppingList" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_AddItemsToShoppingList_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddItemsToShoppingListResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_getUser_InputMessage">
    <wsdl:part name="parameters" element="tns:getUser" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_getUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:getUserResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_getNumUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:getNumUsers" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_getNumUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:getNumUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_CalculateProfit_InputMessage">
    <wsdl:part name="parameters" element="tns:CalculateProfit" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_CalculateProfit_OutputMessage">
    <wsdl:part name="parameters" element="tns:CalculateProfitResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_getAddress_InputMessage">
    <wsdl:part name="parameters" element="tns:getAddress" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_getAddress_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAddressResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_AddAdress_InputMessage">
    <wsdl:part name="parameters" element="tns:AddAdress" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_AddAdress_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddAdressResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_UpdateAddress_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAddress" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_UpdateAddress_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAddressResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_getCard_InputMessage">
    <wsdl:part name="parameters" element="tns:getCard" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_getCard_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCardResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_AddCard_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCard" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_AddCard_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCardResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_UpdateCards_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCards" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_UpdateCards_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCardsResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_getDevice_InputMessage">
    <wsdl:part name="parameters" element="tns:getDevice" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_getDevice_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDeviceResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_AddDevices_InputMessage">
    <wsdl:part name="parameters" element="tns:AddDevices" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_AddDevices_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddDevicesResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_getListItem_InputMessage">
    <wsdl:part name="parameters" element="tns:getListItem" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_getListItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:getListItemResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_AddListItems_InputMessage">
    <wsdl:part name="parameters" element="tns:AddListItems" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_AddListItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddListItemsResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_UpdateListItem_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateListItem" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_UpdateListItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateListItemResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_getOrderedItems_InputMessage">
    <wsdl:part name="parameters" element="tns:getOrderedItems" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_getOrderedItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:getOrderedItemsResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_getProductByCat_InputMessage">
    <wsdl:part name="parameters" element="tns:getProductByCat" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_getProductByCat_OutputMessage">
    <wsdl:part name="parameters" element="tns:getProductByCatResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_getProductBySubCat_InputMessage">
    <wsdl:part name="parameters" element="tns:getProductBySubCat" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_getProductBySubCat_OutputMessage">
    <wsdl:part name="parameters" element="tns:getProductBySubCatResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_profitPerProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:profitPerProduct" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_profitPerProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:profitPerProductResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_profitPerSubCat_InputMessage">
    <wsdl:part name="parameters" element="tns:profitPerSubCat" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_profitPerSubCat_OutputMessage">
    <wsdl:part name="parameters" element="tns:profitPerSubCatResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_profitPerCat_InputMessage">
    <wsdl:part name="parameters" element="tns:profitPerCat" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_profitPerCat_OutputMessage">
    <wsdl:part name="parameters" element="tns:profitPerCatResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_getSubCat_InputMessage">
    <wsdl:part name="parameters" element="tns:getSubCat" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_getSubCat_OutputMessage">
    <wsdl:part name="parameters" element="tns:getSubCatResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_getCat_InputMessage">
    <wsdl:part name="parameters" element="tns:getCat" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_getCat_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCatResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_getSubCatPerCat_InputMessage">
    <wsdl:part name="parameters" element="tns:getSubCatPerCat" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_getSubCatPerCat_OutputMessage">
    <wsdl:part name="parameters" element="tns:getSubCatPerCatResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_calcProductVAT_InputMessage">
    <wsdl:part name="parameters" element="tns:calcProductVAT" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_calcProductVAT_OutputMessage">
    <wsdl:part name="parameters" element="tns:calcProductVATResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_getProductByID_InputMessage">
    <wsdl:part name="parameters" element="tns:getProductByID" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_getProductByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:getProductByIDResponse" />
  </wsdl:message>
  <wsdl:portType name="IGP_Service">
    <wsdl:operation name="login">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/login" message="tns:IGP_Service_login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/loginResponse" message="tns:IGP_Service_login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/Register" message="tns:IGP_Service_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/RegisterResponse" message="tns:IGP_Service_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/UpdateUserDetails" message="tns:IGP_Service_UpdateUserDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/UpdateUserDetailsResponse" message="tns:IGP_Service_UpdateUserDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/UpdatePassword" message="tns:IGP_Service_UpdatePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/UpdatePasswordResponse" message="tns:IGP_Service_UpdatePassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addNewProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/addNewProduct" message="tns:IGP_Service_addNewProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/addNewProductResponse" message="tns:IGP_Service_addNewProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/updateProduct" message="tns:IGP_Service_updateProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/updateProductResponse" message="tns:IGP_Service_updateProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/getAllProducts" message="tns:IGP_Service_getAllProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/getAllProductsResponse" message="tns:IGP_Service_getAllProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="removeProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/removeProduct" message="tns:IGP_Service_removeProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/removeProductResponse" message="tns:IGP_Service_removeProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/getAllCategories" message="tns:IGP_Service_getAllCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/getAllCategoriesResponse" message="tns:IGP_Service_getAllCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllSubCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/getAllSubCategories" message="tns:IGP_Service_getAllSubCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/getAllSubCategoriesResponse" message="tns:IGP_Service_getAllSubCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/getOrder" message="tns:IGP_Service_getOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/getOrderResponse" message="tns:IGP_Service_getOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/addOrder" message="tns:IGP_Service_addOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/addOrderResponse" message="tns:IGP_Service_addOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/UpdateOrder" message="tns:IGP_Service_UpdateOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/UpdateOrderResponse" message="tns:IGP_Service_UpdateOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllOrders">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/getAllOrders" message="tns:IGP_Service_getAllOrders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/getAllOrdersResponse" message="tns:IGP_Service_getAllOrders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllCustomerOrders">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/getAllCustomerOrders" message="tns:IGP_Service_getAllCustomerOrders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/getAllCustomerOrdersResponse" message="tns:IGP_Service_getAllCustomerOrders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getUsersPerDay">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/getUsersPerDay" message="tns:IGP_Service_getUsersPerDay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/getUsersPerDayResponse" message="tns:IGP_Service_getUsersPerDay_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/getProduct" message="tns:IGP_Service_getProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/getProductResponse" message="tns:IGP_Service_getProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateStock">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/UpdateStock" message="tns:IGP_Service_UpdateStock_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/UpdateStockResponse" message="tns:IGP_Service_UpdateStock_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddItemsToShoppingList">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/AddItemsToShoppingList" message="tns:IGP_Service_AddItemsToShoppingList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/AddItemsToShoppingListResponse" message="tns:IGP_Service_AddItemsToShoppingList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/getUser" message="tns:IGP_Service_getUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/getUserResponse" message="tns:IGP_Service_getUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getNumUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/getNumUsers" message="tns:IGP_Service_getNumUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/getNumUsersResponse" message="tns:IGP_Service_getNumUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CalculateProfit">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/CalculateProfit" message="tns:IGP_Service_CalculateProfit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/CalculateProfitResponse" message="tns:IGP_Service_CalculateProfit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAddress">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/getAddress" message="tns:IGP_Service_getAddress_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/getAddressResponse" message="tns:IGP_Service_getAddress_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddAdress">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/AddAdress" message="tns:IGP_Service_AddAdress_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/AddAdressResponse" message="tns:IGP_Service_AddAdress_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAddress">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/UpdateAddress" message="tns:IGP_Service_UpdateAddress_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/UpdateAddressResponse" message="tns:IGP_Service_UpdateAddress_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCard">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/getCard" message="tns:IGP_Service_getCard_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/getCardResponse" message="tns:IGP_Service_getCard_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCard">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/AddCard" message="tns:IGP_Service_AddCard_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/AddCardResponse" message="tns:IGP_Service_AddCard_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCards">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/UpdateCards" message="tns:IGP_Service_UpdateCards_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/UpdateCardsResponse" message="tns:IGP_Service_UpdateCards_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getDevice">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/getDevice" message="tns:IGP_Service_getDevice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/getDeviceResponse" message="tns:IGP_Service_getDevice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddDevices">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/AddDevices" message="tns:IGP_Service_AddDevices_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/AddDevicesResponse" message="tns:IGP_Service_AddDevices_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getListItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/getListItem" message="tns:IGP_Service_getListItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/getListItemResponse" message="tns:IGP_Service_getListItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddListItems">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/AddListItems" message="tns:IGP_Service_AddListItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/AddListItemsResponse" message="tns:IGP_Service_AddListItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateListItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/UpdateListItem" message="tns:IGP_Service_UpdateListItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/UpdateListItemResponse" message="tns:IGP_Service_UpdateListItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getOrderedItems">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/getOrderedItems" message="tns:IGP_Service_getOrderedItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/getOrderedItemsResponse" message="tns:IGP_Service_getOrderedItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getProductByCat">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/getProductByCat" message="tns:IGP_Service_getProductByCat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/getProductByCatResponse" message="tns:IGP_Service_getProductByCat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getProductBySubCat">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/getProductBySubCat" message="tns:IGP_Service_getProductBySubCat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/getProductBySubCatResponse" message="tns:IGP_Service_getProductBySubCat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="profitPerProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/profitPerProduct" message="tns:IGP_Service_profitPerProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/profitPerProductResponse" message="tns:IGP_Service_profitPerProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="profitPerSubCat">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/profitPerSubCat" message="tns:IGP_Service_profitPerSubCat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/profitPerSubCatResponse" message="tns:IGP_Service_profitPerSubCat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="profitPerCat">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/profitPerCat" message="tns:IGP_Service_profitPerCat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/profitPerCatResponse" message="tns:IGP_Service_profitPerCat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getSubCat">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/getSubCat" message="tns:IGP_Service_getSubCat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/getSubCatResponse" message="tns:IGP_Service_getSubCat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCat">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/getCat" message="tns:IGP_Service_getCat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/getCatResponse" message="tns:IGP_Service_getCat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getSubCatPerCat">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/getSubCatPerCat" message="tns:IGP_Service_getSubCatPerCat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/getSubCatPerCatResponse" message="tns:IGP_Service_getSubCatPerCat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="calcProductVAT">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/calcProductVAT" message="tns:IGP_Service_calcProductVAT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/calcProductVATResponse" message="tns:IGP_Service_calcProductVAT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getProductByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/getProductByID" message="tns:IGP_Service_getProductByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/getProductByIDResponse" message="tns:IGP_Service_getProductByID_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGP_Service" type="tns:IGP_Service">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="login">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserDetails">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/UpdateUserDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePassword">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/UpdatePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addNewProduct">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/addNewProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateProduct">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/updateProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllProducts">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/getAllProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeProduct">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/removeProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllCategories">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/getAllCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllSubCategories">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/getAllSubCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOrder">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/getOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addOrder">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/addOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrder">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/UpdateOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllOrders">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/getAllOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllCustomerOrders">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/getAllCustomerOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUsersPerDay">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/getUsersPerDay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProduct">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/getProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateStock">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/UpdateStock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddItemsToShoppingList">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/AddItemsToShoppingList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUser">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/getUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNumUsers">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/getNumUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculateProfit">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/CalculateProfit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAddress">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/getAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAdress">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/AddAdress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAddress">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/UpdateAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCard">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/getCard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCard">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/AddCard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCards">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/UpdateCards" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDevice">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/getDevice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDevices">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/AddDevices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getListItem">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/getListItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddListItems">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/AddListItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateListItem">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/UpdateListItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOrderedItems">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/getOrderedItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProductByCat">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/getProductByCat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProductBySubCat">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/getProductBySubCat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="profitPerProduct">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/profitPerProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="profitPerSubCat">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/profitPerSubCat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="profitPerCat">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/profitPerCat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSubCat">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/getSubCat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCat">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/getCat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSubCatPerCat">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/getSubCatPerCat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="calcProductVAT">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/calcProductVAT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProductByID">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/getProductByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GP_Service">
    <wsdl:port name="BasicHttpBinding_IGP_Service" binding="tns:BasicHttpBinding_IGP_Service">
      <soap:address location="http://localhost:53900/GP_Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>