GreenPantryFrontend/Connected Services/ServiceReference1/GP_Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GP_Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53900/GP_Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53900/GP_Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53900/GP_Service.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:53900/GP_Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGP_Service_NumsalesPerWeek_InputMessage">
    <wsdl:part name="parameters" element="tns:NumsalesPerWeek" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_NumsalesPerWeek_OutputMessage">
    <wsdl:part name="parameters" element="tns:NumsalesPerWeekResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_NumSaleChange_InputMessage">
    <wsdl:part name="parameters" element="tns:NumSaleChange" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_NumSaleChange_OutputMessage">
    <wsdl:part name="parameters" element="tns:NumSaleChangeResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_calcCategoryTotalSales_InputMessage">
    <wsdl:part name="parameters" element="tns:calcCategoryTotalSales" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_calcCategoryTotalSales_OutputMessage">
    <wsdl:part name="parameters" element="tns:calcCategoryTotalSalesResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_calcSalesPerDay_InputMessage">
    <wsdl:part name="parameters" element="tns:calcSalesPerDay" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_calcSalesPerDay_OutputMessage">
    <wsdl:part name="parameters" element="tns:calcSalesPerDayResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_getMonthDates_InputMessage">
    <wsdl:part name="parameters" element="tns:getMonthDates" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_getMonthDates_OutputMessage">
    <wsdl:part name="parameters" element="tns:getMonthDatesResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_numProductSales_InputMessage">
    <wsdl:part name="parameters" element="tns:numProductSales" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_numProductSales_OutputMessage">
    <wsdl:part name="parameters" element="tns:numProductSalesResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_percProductSales_InputMessage">
    <wsdl:part name="parameters" element="tns:percProductSales" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_percProductSales_OutputMessage">
    <wsdl:part name="parameters" element="tns:percProductSalesResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_getfilteredProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:getfilteredProducts" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_getfilteredProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:getfilteredProductsResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_addTraffic_InputMessage">
    <wsdl:part name="parameters" element="tns:addTraffic" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_addTraffic_OutputMessage">
    <wsdl:part name="parameters" element="tns:addTrafficResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_singlePageTraffic_InputMessage">
    <wsdl:part name="parameters" element="tns:singlePageTraffic" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_singlePageTraffic_OutputMessage">
    <wsdl:part name="parameters" element="tns:singlePageTrafficResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_trafficPerWeek_InputMessage">
    <wsdl:part name="parameters" element="tns:trafficPerWeek" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_trafficPerWeek_OutputMessage">
    <wsdl:part name="parameters" element="tns:trafficPerWeekResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_TrafficChange_InputMessage">
    <wsdl:part name="parameters" element="tns:TrafficChange" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_TrafficChange_OutputMessage">
    <wsdl:part name="parameters" element="tns:TrafficChangeResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_singlePageUniqueTraffic_InputMessage">
    <wsdl:part name="parameters" element="tns:singlePageUniqueTraffic" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_singlePageUniqueTraffic_OutputMessage">
    <wsdl:part name="parameters" element="tns:singlePageUniqueTrafficResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_topPages_InputMessage">
    <wsdl:part name="parameters" element="tns:topPages" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_topPages_OutputMessage">
    <wsdl:part name="parameters" element="tns:topPagesResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_percentageCategorySales_InputMessage">
    <wsdl:part name="parameters" element="tns:percentageCategorySales" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_percentageCategorySales_OutputMessage">
    <wsdl:part name="parameters" element="tns:percentageCategorySalesResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_numProductSalesperCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:numProductSalesperCategory" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_numProductSalesperCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:numProductSalesperCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_percentageSubCategorySales_InputMessage">
    <wsdl:part name="parameters" element="tns:percentageSubCategorySales" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_percentageSubCategorySales_OutputMessage">
    <wsdl:part name="parameters" element="tns:percentageSubCategorySalesResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_numProductSalesperSubCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:numProductSalesperSubCategory" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_numProductSalesperSubCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:numProductSalesperSubCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_TopProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:TopProducts" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_TopProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:TopProductsResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_getProQtySold_InputMessage">
    <wsdl:part name="parameters" element="tns:getProQtySold" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_getProQtySold_OutputMessage">
    <wsdl:part name="parameters" element="tns:getProQtySoldResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_newsletter_InputMessage">
    <wsdl:part name="parameters" element="tns:newsletter" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_newsletter_OutputMessage">
    <wsdl:part name="parameters" element="tns:newsletterResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_login_InputMessage">
    <wsdl:part name="parameters" element="tns:login" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_login_OutputMessage">
    <wsdl:part name="parameters" element="tns:loginResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_register_InputMessage">
    <wsdl:part name="parameters" element="tns:register" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_register_OutputMessage">
    <wsdl:part name="parameters" element="tns:registerResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_addUserNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:addUserNumber" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_addUserNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:addUserNumberResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_removeUser_InputMessage">
    <wsdl:part name="parameters" element="tns:removeUser" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_removeUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:removeUserResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_updateUserDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:updateUserDetails" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_updateUserDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateUserDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_updateUserAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:updateUserAdmin" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_updateUserAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateUserAdminResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_updatePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:updatePassword" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_updatePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:updatePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_getUser_InputMessage">
    <wsdl:part name="parameters" element="tns:getUser" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_getUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:getUserResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_getAllUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllUsers" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_getAllUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_getNumUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:getNumUsers" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_getNumUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:getNumUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_updatePoints_InputMessage">
    <wsdl:part name="parameters" element="tns:updatePoints" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_updatePoints_OutputMessage">
    <wsdl:part name="parameters" element="tns:updatePointsResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_getUserPoints_InputMessage">
    <wsdl:part name="parameters" element="tns:getUserPoints" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_getUserPoints_OutputMessage">
    <wsdl:part name="parameters" element="tns:getUserPointsResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_addNewProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:addNewProduct" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_addNewProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:addNewProductResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_updateProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:updateProduct" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_updateProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateProductResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_getAllProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllProducts" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_getAllProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllProductsResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_removeProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:removeProduct" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_removeProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:removeProductResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_getProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:getProduct" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_getProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:getProductResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_updateStock_InputMessage">
    <wsdl:part name="parameters" element="tns:updateStock" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_updateStock_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateStockResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_getProductByCat_InputMessage">
    <wsdl:part name="parameters" element="tns:getProductByCat" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_getProductByCat_OutputMessage">
    <wsdl:part name="parameters" element="tns:getProductByCatResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_getProductBySubCat_InputMessage">
    <wsdl:part name="parameters" element="tns:getProductBySubCat" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_getProductBySubCat_OutputMessage">
    <wsdl:part name="parameters" element="tns:getProductBySubCatResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_searchProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:searchProducts" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_searchProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:searchProductsResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_getAllCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllCategories" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_getAllCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_getCat_InputMessage">
    <wsdl:part name="parameters" element="tns:getCat" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_getCat_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCatResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_getCategorybyProductID_InputMessage">
    <wsdl:part name="parameters" element="tns:getCategorybyProductID" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_getCategorybyProductID_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCategorybyProductIDResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_addCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:addCategory" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_addCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:addCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_updateCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:updateCategories" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_updateCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_getAllSubCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllSubCategories" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_getAllSubCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllSubCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_getSubCat_InputMessage">
    <wsdl:part name="parameters" element="tns:getSubCat" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_getSubCat_OutputMessage">
    <wsdl:part name="parameters" element="tns:getSubCatResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_getSubCatPerCat_InputMessage">
    <wsdl:part name="parameters" element="tns:getSubCatPerCat" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_getSubCatPerCat_OutputMessage">
    <wsdl:part name="parameters" element="tns:getSubCatPerCatResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_addSubCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:addSubCategory" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_addSubCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:addSubCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_updateSubCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:updateSubCategories" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_updateSubCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateSubCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_getInvoice_InputMessage">
    <wsdl:part name="parameters" element="tns:getInvoice" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_getInvoice_OutputMessage">
    <wsdl:part name="parameters" element="tns:getInvoiceResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_addInvoice_InputMessage">
    <wsdl:part name="parameters" element="tns:addInvoice" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_addInvoice_OutputMessage">
    <wsdl:part name="parameters" element="tns:addInvoiceResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_updateInvoice_InputMessage">
    <wsdl:part name="parameters" element="tns:updateInvoice" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_updateInvoice_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateInvoiceResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_getAllInvoices_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllInvoices" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_getAllInvoices_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllInvoicesResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_getAllCustomerInvoices_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllCustomerInvoices" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_getAllCustomerInvoices_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllCustomerInvoicesResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_getAllInvoiceLines_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllInvoiceLines" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_getAllInvoiceLines_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllInvoiceLinesResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_addInvoiceLine_InputMessage">
    <wsdl:part name="parameters" element="tns:addInvoiceLine" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_addInvoiceLine_OutputMessage">
    <wsdl:part name="parameters" element="tns:addInvoiceLineResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_addToList_InputMessage">
    <wsdl:part name="parameters" element="tns:addToList" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_addToList_OutputMessage">
    <wsdl:part name="parameters" element="tns:addToListResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_getList_InputMessage">
    <wsdl:part name="parameters" element="tns:getList" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_getList_OutputMessage">
    <wsdl:part name="parameters" element="tns:getListResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_updateList_InputMessage">
    <wsdl:part name="parameters" element="tns:updateList" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_updateList_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateListResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_removeList_InputMessage">
    <wsdl:part name="parameters" element="tns:removeList" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_removeList_OutputMessage">
    <wsdl:part name="parameters" element="tns:removeListResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_getAddress_InputMessage">
    <wsdl:part name="parameters" element="tns:getAddress" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_getAddress_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAddressResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_addAddress_InputMessage">
    <wsdl:part name="parameters" element="tns:addAddress" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_addAddress_OutputMessage">
    <wsdl:part name="parameters" element="tns:addAddressResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_updateAddress_InputMessage">
    <wsdl:part name="parameters" element="tns:updateAddress" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_updateAddress_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateAddressResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_getCard_InputMessage">
    <wsdl:part name="parameters" element="tns:getCard" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_getCard_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCardResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_addCard_InputMessage">
    <wsdl:part name="parameters" element="tns:addCard" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_addCard_OutputMessage">
    <wsdl:part name="parameters" element="tns:addCardResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_updateCards_InputMessage">
    <wsdl:part name="parameters" element="tns:updateCards" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_updateCards_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateCardsResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_getDevice_InputMessage">
    <wsdl:part name="parameters" element="tns:getDevice" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_getDevice_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDeviceResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_addDevices_InputMessage">
    <wsdl:part name="parameters" element="tns:addDevices" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_addDevices_OutputMessage">
    <wsdl:part name="parameters" element="tns:addDevicesResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_getUsersPerDay_InputMessage">
    <wsdl:part name="parameters" element="tns:getUsersPerDay" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_getUsersPerDay_OutputMessage">
    <wsdl:part name="parameters" element="tns:getUsersPerDayResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_calculateProfit_InputMessage">
    <wsdl:part name="parameters" element="tns:calculateProfit" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_calculateProfit_OutputMessage">
    <wsdl:part name="parameters" element="tns:calculateProfitResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_profitPerProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:profitPerProduct" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_profitPerProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:profitPerProductResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_profitPerSubCat_InputMessage">
    <wsdl:part name="parameters" element="tns:profitPerSubCat" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_profitPerSubCat_OutputMessage">
    <wsdl:part name="parameters" element="tns:profitPerSubCatResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_profitPerCat_InputMessage">
    <wsdl:part name="parameters" element="tns:profitPerCat" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_profitPerCat_OutputMessage">
    <wsdl:part name="parameters" element="tns:profitPerCatResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_calcProfitPerday_InputMessage">
    <wsdl:part name="parameters" element="tns:calcProfitPerday" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_calcProfitPerday_OutputMessage">
    <wsdl:part name="parameters" element="tns:calcProfitPerdayResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_calcProductVAT_InputMessage">
    <wsdl:part name="parameters" element="tns:calcProductVAT" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_calcProductVAT_OutputMessage">
    <wsdl:part name="parameters" element="tns:calcProductVATResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_getNumProductsInSub_InputMessage">
    <wsdl:part name="parameters" element="tns:getNumProductsInSub" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_getNumProductsInSub_OutputMessage">
    <wsdl:part name="parameters" element="tns:getNumProductsInSubResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_usersperWeek_InputMessage">
    <wsdl:part name="parameters" element="tns:usersperWeek" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_usersperWeek_OutputMessage">
    <wsdl:part name="parameters" element="tns:usersperWeekResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_percentageUserChange_InputMessage">
    <wsdl:part name="parameters" element="tns:percentageUserChange" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_percentageUserChange_OutputMessage">
    <wsdl:part name="parameters" element="tns:percentageUserChangeResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_getWeekDates_InputMessage">
    <wsdl:part name="parameters" element="tns:getWeekDates" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_getWeekDates_OutputMessage">
    <wsdl:part name="parameters" element="tns:getWeekDatesResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_salesPerWeek_InputMessage">
    <wsdl:part name="parameters" element="tns:salesPerWeek" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_salesPerWeek_OutputMessage">
    <wsdl:part name="parameters" element="tns:salesPerWeekResponse" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_percentageSaleChanger_InputMessage">
    <wsdl:part name="parameters" element="tns:percentageSaleChanger" />
  </wsdl:message>
  <wsdl:message name="IGP_Service_percentageSaleChanger_OutputMessage">
    <wsdl:part name="parameters" element="tns:percentageSaleChangerResponse" />
  </wsdl:message>
  <wsdl:portType name="IGP_Service">
    <wsdl:operation name="NumsalesPerWeek">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/NumsalesPerWeek" message="tns:IGP_Service_NumsalesPerWeek_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/NumsalesPerWeekResponse" message="tns:IGP_Service_NumsalesPerWeek_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NumSaleChange">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/NumSaleChange" message="tns:IGP_Service_NumSaleChange_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/NumSaleChangeResponse" message="tns:IGP_Service_NumSaleChange_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="calcCategoryTotalSales">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/calcCategoryTotalSales" message="tns:IGP_Service_calcCategoryTotalSales_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/calcCategoryTotalSalesResponse" message="tns:IGP_Service_calcCategoryTotalSales_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="calcSalesPerDay">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/calcSalesPerDay" message="tns:IGP_Service_calcSalesPerDay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/calcSalesPerDayResponse" message="tns:IGP_Service_calcSalesPerDay_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getMonthDates">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/getMonthDates" message="tns:IGP_Service_getMonthDates_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/getMonthDatesResponse" message="tns:IGP_Service_getMonthDates_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="numProductSales">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/numProductSales" message="tns:IGP_Service_numProductSales_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/numProductSalesResponse" message="tns:IGP_Service_numProductSales_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="percProductSales">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/percProductSales" message="tns:IGP_Service_percProductSales_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/percProductSalesResponse" message="tns:IGP_Service_percProductSales_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getfilteredProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/getfilteredProducts" message="tns:IGP_Service_getfilteredProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/getfilteredProductsResponse" message="tns:IGP_Service_getfilteredProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addTraffic">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/addTraffic" message="tns:IGP_Service_addTraffic_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/addTrafficResponse" message="tns:IGP_Service_addTraffic_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="singlePageTraffic">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/singlePageTraffic" message="tns:IGP_Service_singlePageTraffic_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/singlePageTrafficResponse" message="tns:IGP_Service_singlePageTraffic_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="trafficPerWeek">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/trafficPerWeek" message="tns:IGP_Service_trafficPerWeek_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/trafficPerWeekResponse" message="tns:IGP_Service_trafficPerWeek_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TrafficChange">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/TrafficChange" message="tns:IGP_Service_TrafficChange_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/TrafficChangeResponse" message="tns:IGP_Service_TrafficChange_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="singlePageUniqueTraffic">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/singlePageUniqueTraffic" message="tns:IGP_Service_singlePageUniqueTraffic_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/singlePageUniqueTrafficResponse" message="tns:IGP_Service_singlePageUniqueTraffic_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="topPages">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/topPages" message="tns:IGP_Service_topPages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/topPagesResponse" message="tns:IGP_Service_topPages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="percentageCategorySales">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/percentageCategorySales" message="tns:IGP_Service_percentageCategorySales_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/percentageCategorySalesResponse" message="tns:IGP_Service_percentageCategorySales_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="numProductSalesperCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/numProductSalesperCategory" message="tns:IGP_Service_numProductSalesperCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/numProductSalesperCategoryResponse" message="tns:IGP_Service_numProductSalesperCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="percentageSubCategorySales">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/percentageSubCategorySales" message="tns:IGP_Service_percentageSubCategorySales_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/percentageSubCategorySalesResponse" message="tns:IGP_Service_percentageSubCategorySales_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="numProductSalesperSubCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/numProductSalesperSubCategory" message="tns:IGP_Service_numProductSalesperSubCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/numProductSalesperSubCategoryResponse" message="tns:IGP_Service_numProductSalesperSubCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TopProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/TopProducts" message="tns:IGP_Service_TopProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/TopProductsResponse" message="tns:IGP_Service_TopProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getProQtySold">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/getProQtySold" message="tns:IGP_Service_getProQtySold_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/getProQtySoldResponse" message="tns:IGP_Service_getProQtySold_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="newsletter">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/newsletter" message="tns:IGP_Service_newsletter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/newsletterResponse" message="tns:IGP_Service_newsletter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="login">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/login" message="tns:IGP_Service_login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/loginResponse" message="tns:IGP_Service_login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="register">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/register" message="tns:IGP_Service_register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/registerResponse" message="tns:IGP_Service_register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addUserNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/addUserNumber" message="tns:IGP_Service_addUserNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/addUserNumberResponse" message="tns:IGP_Service_addUserNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="removeUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/removeUser" message="tns:IGP_Service_removeUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/removeUserResponse" message="tns:IGP_Service_removeUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateUserDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/updateUserDetails" message="tns:IGP_Service_updateUserDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/updateUserDetailsResponse" message="tns:IGP_Service_updateUserDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateUserAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/updateUserAdmin" message="tns:IGP_Service_updateUserAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/updateUserAdminResponse" message="tns:IGP_Service_updateUserAdmin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updatePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/updatePassword" message="tns:IGP_Service_updatePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/updatePasswordResponse" message="tns:IGP_Service_updatePassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/getUser" message="tns:IGP_Service_getUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/getUserResponse" message="tns:IGP_Service_getUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/getAllUsers" message="tns:IGP_Service_getAllUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/getAllUsersResponse" message="tns:IGP_Service_getAllUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getNumUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/getNumUsers" message="tns:IGP_Service_getNumUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/getNumUsersResponse" message="tns:IGP_Service_getNumUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updatePoints">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/updatePoints" message="tns:IGP_Service_updatePoints_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/updatePointsResponse" message="tns:IGP_Service_updatePoints_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getUserPoints">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/getUserPoints" message="tns:IGP_Service_getUserPoints_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/getUserPointsResponse" message="tns:IGP_Service_getUserPoints_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addNewProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/addNewProduct" message="tns:IGP_Service_addNewProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/addNewProductResponse" message="tns:IGP_Service_addNewProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/updateProduct" message="tns:IGP_Service_updateProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/updateProductResponse" message="tns:IGP_Service_updateProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/getAllProducts" message="tns:IGP_Service_getAllProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/getAllProductsResponse" message="tns:IGP_Service_getAllProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="removeProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/removeProduct" message="tns:IGP_Service_removeProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/removeProductResponse" message="tns:IGP_Service_removeProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/getProduct" message="tns:IGP_Service_getProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/getProductResponse" message="tns:IGP_Service_getProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateStock">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/updateStock" message="tns:IGP_Service_updateStock_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/updateStockResponse" message="tns:IGP_Service_updateStock_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getProductByCat">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/getProductByCat" message="tns:IGP_Service_getProductByCat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/getProductByCatResponse" message="tns:IGP_Service_getProductByCat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getProductBySubCat">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/getProductBySubCat" message="tns:IGP_Service_getProductBySubCat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/getProductBySubCatResponse" message="tns:IGP_Service_getProductBySubCat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="searchProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/searchProducts" message="tns:IGP_Service_searchProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/searchProductsResponse" message="tns:IGP_Service_searchProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/getAllCategories" message="tns:IGP_Service_getAllCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/getAllCategoriesResponse" message="tns:IGP_Service_getAllCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCat">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/getCat" message="tns:IGP_Service_getCat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/getCatResponse" message="tns:IGP_Service_getCat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCategorybyProductID">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/getCategorybyProductID" message="tns:IGP_Service_getCategorybyProductID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/getCategorybyProductIDResponse" message="tns:IGP_Service_getCategorybyProductID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/addCategory" message="tns:IGP_Service_addCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/addCategoryResponse" message="tns:IGP_Service_addCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/updateCategories" message="tns:IGP_Service_updateCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/updateCategoriesResponse" message="tns:IGP_Service_updateCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllSubCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/getAllSubCategories" message="tns:IGP_Service_getAllSubCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/getAllSubCategoriesResponse" message="tns:IGP_Service_getAllSubCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getSubCat">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/getSubCat" message="tns:IGP_Service_getSubCat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/getSubCatResponse" message="tns:IGP_Service_getSubCat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getSubCatPerCat">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/getSubCatPerCat" message="tns:IGP_Service_getSubCatPerCat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/getSubCatPerCatResponse" message="tns:IGP_Service_getSubCatPerCat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addSubCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/addSubCategory" message="tns:IGP_Service_addSubCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/addSubCategoryResponse" message="tns:IGP_Service_addSubCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateSubCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/updateSubCategories" message="tns:IGP_Service_updateSubCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/updateSubCategoriesResponse" message="tns:IGP_Service_updateSubCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getInvoice">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/getInvoice" message="tns:IGP_Service_getInvoice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/getInvoiceResponse" message="tns:IGP_Service_getInvoice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addInvoice">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/addInvoice" message="tns:IGP_Service_addInvoice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/addInvoiceResponse" message="tns:IGP_Service_addInvoice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateInvoice">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/updateInvoice" message="tns:IGP_Service_updateInvoice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/updateInvoiceResponse" message="tns:IGP_Service_updateInvoice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllInvoices">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/getAllInvoices" message="tns:IGP_Service_getAllInvoices_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/getAllInvoicesResponse" message="tns:IGP_Service_getAllInvoices_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllCustomerInvoices">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/getAllCustomerInvoices" message="tns:IGP_Service_getAllCustomerInvoices_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/getAllCustomerInvoicesResponse" message="tns:IGP_Service_getAllCustomerInvoices_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllInvoiceLines">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/getAllInvoiceLines" message="tns:IGP_Service_getAllInvoiceLines_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/getAllInvoiceLinesResponse" message="tns:IGP_Service_getAllInvoiceLines_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addInvoiceLine">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/addInvoiceLine" message="tns:IGP_Service_addInvoiceLine_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/addInvoiceLineResponse" message="tns:IGP_Service_addInvoiceLine_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addToList">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/addToList" message="tns:IGP_Service_addToList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/addToListResponse" message="tns:IGP_Service_addToList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getList">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/getList" message="tns:IGP_Service_getList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/getListResponse" message="tns:IGP_Service_getList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateList">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/updateList" message="tns:IGP_Service_updateList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/updateListResponse" message="tns:IGP_Service_updateList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="removeList">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/removeList" message="tns:IGP_Service_removeList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/removeListResponse" message="tns:IGP_Service_removeList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAddress">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/getAddress" message="tns:IGP_Service_getAddress_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/getAddressResponse" message="tns:IGP_Service_getAddress_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addAddress">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/addAddress" message="tns:IGP_Service_addAddress_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/addAddressResponse" message="tns:IGP_Service_addAddress_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateAddress">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/updateAddress" message="tns:IGP_Service_updateAddress_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/updateAddressResponse" message="tns:IGP_Service_updateAddress_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCard">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/getCard" message="tns:IGP_Service_getCard_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/getCardResponse" message="tns:IGP_Service_getCard_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addCard">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/addCard" message="tns:IGP_Service_addCard_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/addCardResponse" message="tns:IGP_Service_addCard_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateCards">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/updateCards" message="tns:IGP_Service_updateCards_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/updateCardsResponse" message="tns:IGP_Service_updateCards_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getDevice">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/getDevice" message="tns:IGP_Service_getDevice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/getDeviceResponse" message="tns:IGP_Service_getDevice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addDevices">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/addDevices" message="tns:IGP_Service_addDevices_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/addDevicesResponse" message="tns:IGP_Service_addDevices_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getUsersPerDay">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/getUsersPerDay" message="tns:IGP_Service_getUsersPerDay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/getUsersPerDayResponse" message="tns:IGP_Service_getUsersPerDay_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="calculateProfit">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/calculateProfit" message="tns:IGP_Service_calculateProfit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/calculateProfitResponse" message="tns:IGP_Service_calculateProfit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="profitPerProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/profitPerProduct" message="tns:IGP_Service_profitPerProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/profitPerProductResponse" message="tns:IGP_Service_profitPerProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="profitPerSubCat">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/profitPerSubCat" message="tns:IGP_Service_profitPerSubCat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/profitPerSubCatResponse" message="tns:IGP_Service_profitPerSubCat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="profitPerCat">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/profitPerCat" message="tns:IGP_Service_profitPerCat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/profitPerCatResponse" message="tns:IGP_Service_profitPerCat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="calcProfitPerday">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/calcProfitPerday" message="tns:IGP_Service_calcProfitPerday_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/calcProfitPerdayResponse" message="tns:IGP_Service_calcProfitPerday_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="calcProductVAT">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/calcProductVAT" message="tns:IGP_Service_calcProductVAT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/calcProductVATResponse" message="tns:IGP_Service_calcProductVAT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getNumProductsInSub">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/getNumProductsInSub" message="tns:IGP_Service_getNumProductsInSub_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/getNumProductsInSubResponse" message="tns:IGP_Service_getNumProductsInSub_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="usersperWeek">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/usersperWeek" message="tns:IGP_Service_usersperWeek_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/usersperWeekResponse" message="tns:IGP_Service_usersperWeek_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="percentageUserChange">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/percentageUserChange" message="tns:IGP_Service_percentageUserChange_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/percentageUserChangeResponse" message="tns:IGP_Service_percentageUserChange_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getWeekDates">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/getWeekDates" message="tns:IGP_Service_getWeekDates_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/getWeekDatesResponse" message="tns:IGP_Service_getWeekDates_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="salesPerWeek">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/salesPerWeek" message="tns:IGP_Service_salesPerWeek_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/salesPerWeekResponse" message="tns:IGP_Service_salesPerWeek_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="percentageSaleChanger">
      <wsdl:input wsaw:Action="http://tempuri.org/IGP_Service/percentageSaleChanger" message="tns:IGP_Service_percentageSaleChanger_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGP_Service/percentageSaleChangerResponse" message="tns:IGP_Service_percentageSaleChanger_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGP_Service" type="tns:IGP_Service">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="NumsalesPerWeek">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/NumsalesPerWeek" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NumSaleChange">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/NumSaleChange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="calcCategoryTotalSales">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/calcCategoryTotalSales" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="calcSalesPerDay">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/calcSalesPerDay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMonthDates">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/getMonthDates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="numProductSales">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/numProductSales" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="percProductSales">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/percProductSales" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getfilteredProducts">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/getfilteredProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addTraffic">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/addTraffic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="singlePageTraffic">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/singlePageTraffic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="trafficPerWeek">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/trafficPerWeek" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TrafficChange">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/TrafficChange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="singlePageUniqueTraffic">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/singlePageUniqueTraffic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="topPages">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/topPages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="percentageCategorySales">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/percentageCategorySales" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="numProductSalesperCategory">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/numProductSalesperCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="percentageSubCategorySales">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/percentageSubCategorySales" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="numProductSalesperSubCategory">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/numProductSalesperSubCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TopProducts">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/TopProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProQtySold">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/getProQtySold" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="newsletter">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/newsletter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="login">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="register">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addUserNumber">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/addUserNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeUser">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/removeUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateUserDetails">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/updateUserDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateUserAdmin">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/updateUserAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updatePassword">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/updatePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUser">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/getUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllUsers">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/getAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNumUsers">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/getNumUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updatePoints">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/updatePoints" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserPoints">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/getUserPoints" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addNewProduct">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/addNewProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateProduct">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/updateProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllProducts">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/getAllProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeProduct">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/removeProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProduct">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/getProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateStock">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/updateStock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProductByCat">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/getProductByCat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProductBySubCat">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/getProductBySubCat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchProducts">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/searchProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllCategories">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/getAllCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCat">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/getCat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCategorybyProductID">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/getCategorybyProductID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addCategory">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/addCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateCategories">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/updateCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllSubCategories">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/getAllSubCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSubCat">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/getSubCat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSubCatPerCat">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/getSubCatPerCat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addSubCategory">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/addSubCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateSubCategories">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/updateSubCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getInvoice">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/getInvoice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addInvoice">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/addInvoice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateInvoice">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/updateInvoice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllInvoices">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/getAllInvoices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllCustomerInvoices">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/getAllCustomerInvoices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllInvoiceLines">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/getAllInvoiceLines" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addInvoiceLine">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/addInvoiceLine" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addToList">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/addToList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getList">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/getList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateList">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/updateList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeList">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/removeList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAddress">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/getAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addAddress">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/addAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateAddress">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/updateAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCard">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/getCard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addCard">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/addCard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateCards">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/updateCards" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDevice">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/getDevice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addDevices">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/addDevices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUsersPerDay">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/getUsersPerDay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="calculateProfit">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/calculateProfit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="profitPerProduct">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/profitPerProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="profitPerSubCat">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/profitPerSubCat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="profitPerCat">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/profitPerCat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="calcProfitPerday">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/calcProfitPerday" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="calcProductVAT">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/calcProductVAT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNumProductsInSub">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/getNumProductsInSub" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="usersperWeek">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/usersperWeek" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="percentageUserChange">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/percentageUserChange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getWeekDates">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/getWeekDates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="salesPerWeek">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/salesPerWeek" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="percentageSaleChanger">
      <soap:operation soapAction="http://tempuri.org/IGP_Service/percentageSaleChanger" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GP_Service">
    <wsdl:port name="BasicHttpBinding_IGP_Service" binding="tns:BasicHttpBinding_IGP_Service">
      <soap:address location="http://localhost:53900/GP_Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>