GreenPantryFrontend/Connected Services/ServiceReference1/GPService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GPService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52889/GPService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52889/GPService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52889/GPService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GreenPantryBackendNew" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGPService_getAllCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllCategories" />
  </wsdl:message>
  <wsdl:message name="IGPService_getAllCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IGPService_getProductByCat_InputMessage">
    <wsdl:part name="parameters" element="tns:getProductByCat" />
  </wsdl:message>
  <wsdl:message name="IGPService_getProductByCat_OutputMessage">
    <wsdl:part name="parameters" element="tns:getProductByCatResponse" />
  </wsdl:message>
  <wsdl:portType name="IGPService">
    <wsdl:operation name="getAllCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/IGPService/getAllCategories" message="tns:IGPService_getAllCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGPService/getAllCategoriesResponse" message="tns:IGPService_getAllCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getProductByCat">
      <wsdl:input wsaw:Action="http://tempuri.org/IGPService/getProductByCat" message="tns:IGPService_getProductByCat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGPService/getProductByCatResponse" message="tns:IGPService_getProductByCat_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGPService" type="tns:IGPService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getAllCategories">
      <soap:operation soapAction="http://tempuri.org/IGPService/getAllCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProductByCat">
      <soap:operation soapAction="http://tempuri.org/IGPService/getProductByCat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GPService">
    <wsdl:port name="BasicHttpBinding_IGPService" binding="tns:BasicHttpBinding_IGPService">
      <soap:address location="http://localhost:52889/GPService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>