GreenPantryFrontend/Connected Services/ServiceReference1/GPService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52889/GPService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GreenPantryBackendNew" />
  <xs:element name="getAllCategories">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GreenPantryBackendNew" minOccurs="0" name="getAllCategoriesResult" nillable="true" type="q1:ArrayOfProductCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>